html, body {
  overflow: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 7vh;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
}

.adv {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.google_logo {
  position: static;
  width: 160px;
  height: 55px;
  background-image: url(../img/google_pic2.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 25px;
}

header div a {
  text-decoration: none;
  color: #21364b;
  margin-right: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: -0.5px;
}

header div a:hover {
  color: rgb(73, 169, 233);
  border: 2px solid rgb(75, 49, 243);
  border-radius: 10px;
  box-shadow: 0 0 3px 0px rgb(75, 49, 243);
  padding: 3px;
  background-color: rgb(244, 244, 184);
}

.sidebar {
  width: 100%;
  height: 75px;
  border-bottom: 2px solid #ebebeb;
  display: flex;
  -webkit-box-align: end;
  align-items: flex-end;
}

.sidebar p {
  margin-left: 40px;
  font-family: "Roboto", sans-serif;
  color: blue;
  text-shadow: 2px 1px 2px rgb(208, 219, 10);
  font-size: 20px;
}

#center {
  height: auto;
  display: flex;
  -webkit-box-pack: start;
  -webkit-box-align: start;
  border-bottom: 2px solid #ebebeb;
}

#center #advanced {
  width: 90vw;
  display: flex;
  margin-bottom: 15px;
}

#center #advanced #left #header {
  font-size: 20px;
  font-weight: 300;
  color: #21364b;
  text-shadow: 1px 1px 2px rgb(232, 212, 139);
}

#center #advanced #left {
  margin-top: 25px;
  margin-left: 40px;
  width: 200px;
  min-width: 200px;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  font-size: 18px;
  margin-bottom: 25px;
}

#center #advanced #left p {
  font-family: "Roboto", sans-serif;
  font-size: smaller;
  margin-bottom: 20px;
  padding: 0.9px;
}

#center #advanced .forms {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  width: 650px;
  margin-top: 112px;
  margin-bottom: 20px;
}

#center #advanced .forms input {
  width: 650px;
  padding: 5px 5px 5px 19px;
  margin-bottom: 11px;
  font-family: "Roboto", sans-serif;
  border: 1px #c0c0c0;
  border-style: solid;
}

#center #advanced .forms button {
  margin-left: 520px;
  width: 150px;
  border-radius: 6px;
  border: 3px solid rgb(219, 216, 216);
  text-shadow: 2px 1px 2px rgb(239, 244, 135);
  background-color: whitesmoke;
  color: rgb(136, 131, 131);
}

#center #advanced .forms button:hover {
  color: rgb(73, 169, 233);
  border: 2px solid rgb(75, 49, 243);
  border-radius: 10px;
  box-shadow: 0 0 3px 0px rgb(75, 49, 243);
  padding: 3px;
  background-color: rgb(244, 244, 184);
}

#center #advanced .right {
  width: auto;
  margin-top: 25px;
  margin-left: 10px;
  color: #777777;
}

#center #advanced .right {
  width: auto;
  margin-top: 25px;
  margin-left: 10px;
  color: #777777;
}

#center #advanced .right #header-r {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 300;
  color: #21364b;
  text-shadow: 1px 1px 2px rgb(232, 212, 139);
}

#center #advanced .right #f {
  margin-top: 22px;
}

#center #advanced .right #s {
  margin-top: -12px;
}

#center #advanced .right #t {
  margin-top: -12px;
}

#center #advanced .right #fr {
  margin-top: -16px;
}

.else {
  padding-bottom: 10px;
  border-bottom: 2px solid #ebebeb;
}

.else p {
  margin-left: 40px;
  font-family: "Roboto", sans-serif;
  margin-top: 25px;
}

.else ul {
  margin-left: 20px;
  font-family: "Roboto", sans-serif;
  color: rgb(157, 157, 163);
  text-shadow: 2px 1px 2px rgb(208, 219, 10);
}

li > a {
  text-decoration: none;
}

li a:hover {
  color: rgb(100, 152, 241);
}

#Ukraine {
  height: 40px;
  width: 100%;
  background-color: #f5f3f3;
  display: table;
  vertical-align: middle;
  border-bottom: 2px solid white;
  padding: ;
}

#Ukraine p {
  margin-left: 40px;
  color: #4f5b66;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: -0.5px;
}

#bottom {
  -webkit-box-align: center;
  align-items: center;
  background-color: #f5f3f3;
  height: 7vh;
  width: 100%;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  }

.foot {
  position:absolute;
  bottom:0;
  width: 100%;
}

#bottom .adv-nav {
  margin-left: 40px;
}

#bottom .adv-nav a:visited {
  color: #4f5b66;
}

#bottom .adv-nav a {
  color: #4f5b66;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: small;
  margin-right: 20px;
}

#adv-nav a {
  margin-left: 15px;
  color: #4f5b66;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: -0.5px;
}

div a:hover {
  color: #111214;
  border: 1px solid rgb(31, 185, 250);
  box-shadow: 0 0 3px 0px rgb(79, 91, 91);
  padding: 3px;
  font-weight: bold;
}